[submodule "filesharing-file-service"]
	path = filesharing-file-service
	url = git@github.com:Mikhalevich/filesharing-file-service.git
[submodule "filesharing-auth-service"]
	path = filesharing-auth-service
	url = git@github.com:Mikhalevich/filesharing-auth-service.git
